@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Citizens of Ukraine</h1>
    <p class="lead">Pavlichenko Pavlo</p>
    <p>@Html.ActionLink("About", "About", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

